body {
    width: 100vw;
    height: 100vh;
    background-color: #a95656;
    color: #fffffc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

* {
    margin: 0px;
    padding: 0;
}

.mainContainer{
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    flex: 1; /* Allow the container to take up remaining vertical space */
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    margin-top: 20px;
    background-color: rgb(143, 143, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 0px; /* Adjust padding as needed */
}

.navbar{
    width: 100;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.navbar a{
    color: white;
    background-color: rgb(255, 0, 85);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}


.navbar li{
    float: left;
    margin-left: 20px;
}

main {
    flex-grow:1;
    background-color: rgb(77, 255, 0);
    margin: 20px;
}

.footer {
    width: 100vw;
    height: 150px;
    background-color: rgb(55, 6, 170);
}




.btn-grid {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
}

.btn {
    background-color: rgb(61, 144, 36);
    padding: 5px 10px;
    border: none;
    outline: none;
    font-family: Garamond, serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: rgb(98, 98, 98);
}

.btn:focus {
    outline: 3px solid purple;
}