html, body {
    margin: 0;  /* Remove default margin from body */
}

body {
    background-color: #0e0e10;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Helvetica Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    min-height: 100vh;

    /* background-image: url('Images/bggif.gif');
    background-size: contain;
    background-repeat: no-repeat; Prevents the GIF from repeating */
}


/* Mid column */
.background-wrapper {
    max-width: 960px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
}

header {
    justify-content: left;
    display: flex;
    padding: 7px;
    padding-top: 0px;
    margin-bottom: 14px;
    gap: 10px;
}

.navlink {
    padding: 10px;
    padding-top: 5px;
    background-color: rgba(25, 26, 35, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

.navlink_selected {
    border: 4px rgb(100,100,255) solid;
    border-top: 0px;
    background-color: #4646c9;
    padding-top: 30px;
}

#kleinlijntje{
    height: 15px;
}

.intro_box {
    scale: 110%;
    display: inline-block;
    background-color: rgba(25, 26, 35, 1);
    margin: 10px;
    border-radius: 100px;
    display: flex;
    align-items: center; /* vertically align image and text */
    gap: 24px; /* space between image and text */
    margin-bottom: 0px;
    
}

.profile_picture img {
    margin: 10px;
    width: 90px; /* adjust as needed */
    height: auto;
}

.intro_text {
    font-weight: 200;
    font-size: 1.2rem; /* or whatever size you want */
}

.profile_picture img {

    max-width: 100px;
}

.game_grid {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

.game_grid_small {
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.game_item {
    background-color: rgba(25, 26, 35, 1);
    padding: 8px;
    border: 4px rgba(25, 26, 35, 1) solid;
    border-radius: 10px;
    display: inline-block;
    transition: all 300ms ease-in;
    transform: scale(1);
    position: relative;
    overflow: hidden;
    max-height: 390px; /* Set an initial max-height */
    text-decoration: none;
}



.game_item_small {
    height: auto;
}


.game_item:hover {
    padding: 8px;
    border: 4px rgb(100,100,255) solid;
    z-index: 2;
    transition: all 0.1s ease-in;
    transform: scale(1.03) rotate(-0.0deg);
    background-color: #4646c9;
    max-height: 100vh; /* Increase max-height on hover */
}

.game_item_small:hover {
    height: auto;
}

.transparent_gradient {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent 0, rgba(25, 26, 35, 1))
}

.game_item:hover .transparent_gradient {
    visibility: hidden;
}


.game_thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.game_data {
  margin-top: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game_title {
    font-size: 1.2em;
    text-decoration: none;
}

.game_text {
    font-size: .95em;
    color: #dadada;
    font-weight: 100;
    letter-spacing: 0.3px;
}

.game_skills {
    background-color: rgba(51, 54, 76, 0.466);
    margin-top: 8px;
    padding: 4px;

    color: #ffffff;
}


.year-header {
    color: #FFFF64;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    font-size: 55px;
    background-color: #49111c00;
    max-width: 100%;
}

a {
    color: #FFFF64;

}

ul {
    margin: 5px;
    padding-left: 25px;
}

li {
    margin-bottom: 3px;
}

.project_container {
    background-color: rgba(25, 26, 35, 1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}




p {
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: 0px;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h2 {
    color:#FFFF64;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    text-align: left;
    color:#FFFF64;
    margin-bottom: 10px;
    margin-top: auto;
}

.project_body {
    padding: 15px;
    color: #ddd9d9;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project_game_title {
    color: #FFFF64;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    font-size: 55px;
    max-width: 100%;
}


figure {
    margin: 0px;
}

figcaption {
    font-weight: 100;
    font-size: 0.5em;
    margin: 10px;
    margin-top: 0px;
}

.lr_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns both the video and the text block to the top */
    gap: 20px; /* Adjust space between the image and text section */
}



.ud_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.project_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.lr_container img{
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image covers the div */
  margin: 0px;
  padding: 0px;
}

.project_block video {
    max-width: 100%;
    margin: 0px;
}

.lr_container video {
    width: 100%; /* Ensures all videos take up the same width */
    height: auto; /* Adjusts the height to maintain the aspect ratio */
    object-fit: contain; /* Ensures videos fit within their container without distortion */
    margin: 0px;
    padding: 0px;
}

.project_video_small {
    max-width: 400px;
}

.project_block {
    border-radius: 10px;
    font-size: 0.7em;
    font-weight: 200;
    background-color: #252736;
    color: #ffffff;
    max-width: 100%;
}

.project_block img, .project_block video {
    width: 100%;           /* Optional: scale image/video to fill container */
    height: auto;          /* Optional: maintain aspect ratio */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#core_loop_image {
    width:180%;
}

.project_block_text {
    padding: 15px;
}

.lr_container .project_block_text {
    max-width: 300px;
}

.lr_container #narrow_project_block_text {
    max-width: 250px;
}

.project_block_figure {
    font-size: 1em;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}
/* 
.project_block_figure:hover {
    transform: scale(1.1);
} */


.project_block li{
    padding-top: 10px;
}

#project_showcase_video {
    scale: 1.0;
}

@media (max-width: 768px) {
  .lr_container {
    flex-direction: column;
  }
.lr_container .lr_container{
    flex-direction: row;
  }
  .lr_container .project_block_text, .lr_container #narrow_project_block_text {
    max-width: 100%;    
}
}