html, body {
    margin: 0;  /* Remove default margin from body */
}

body {
    background-color: #0e0e10;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Helvetica Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    min-height: 100vh;

    /* background-image: url('Images/bggif.gif');
    background-size: contain;
    background-repeat: no-repeat; Prevents the GIF from repeating */
}



.intro_babbel {
    margin-top:50px;
    margin-bottom:500px;
}

#home_video {
  position: absolute;
  width: 100%;           /* Full width of parent */
  height: 300px;         /* Or any desired height */
  overflow: hidden;      /* Hide overflow to crop */
  z-index: -1; /* Puts it behind content */
}

#home_video video {
  position:fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;

  /* Optional: ensure it covers even if aspect ratio doesn't match */
  min-height: 100%;
  object-fit: cover;     /* Crops and fills */
}


/* Mid column */
.background-wrapper {
    max-width: 960px;
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
}

header {
    justify-content: left;
    display: flex;
    padding: 7px;
    padding-top: 0px;
    margin-bottom: 14px;
    gap: 10px;
}

.navlink {
    padding: 10px;
    padding-top: 5px;
    background-color: rgba(25, 26, 35, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

.navlink_selected {
    border: 4px rgb(100,100,255) solid;
    border-top: 0px;
    background-color: #4646c9;
    padding-top: 30px;
}


#kleinlijntje{
    height: 15px;
}

.intro_box {
    scale: 110%;
    display: inline-block;
    background-color: rgba(25, 26, 35, 1);
    margin: 10px;
    padding-right:10px;
    border-radius: 100px;
    display: flex;
    align-items: center; /* vertically align image and text */
    gap: 24px; /* space between image and text */
    margin-bottom: 0px;
    
}

.profile_picture img {
    margin: 10px;
    width: 90px; /* adjust as needed */
    height: auto;
}

.intro_text {
    font-weight: 200;
    font-size: 1.2rem; /* or whatever size you want */
}

.profile_picture img {

    max-width: 100px;
}

.game_flexbox {
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: start;
  margin-bottom: 110px;
}

.game_grid_small {
    font-size: 16px;
    background-color: #0e0e10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.game_item_small {
  max-width: 200px;
}

.game_item {
    width:300px;
    background-color: rgba(25, 26, 35, 1);
    padding: 8px;
    border: 4px rgba(25, 26, 35, 1) solid;
    border-radius: 10px;
    display: inline-block;
    transition: all 300ms ease-in;
    transform: scale(1);
    position: relative;
    overflow: hidden;
    max-height: 420px; /* Set an initial max-height */
    text-decoration: none;
}




.game_item:hover {
    padding: 8px;
    border: 4px rgb(100,100,255) solid;
    z-index: 2;
    transition: all 0.1s ease-in;
    transform: scale(1.03) rotate(-0.0deg);
    background-color: #4646c9;
    max-height: 100vh; /* Increase max-height on hover */
}

.game_item_small:hover {
    height: auto;
}

.transparent_gradient {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent 0, rgba(25, 26, 35, 1))
}

.game_item:hover .transparent_gradient {
    visibility: hidden;
}


.game_thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.game_tags{
    color:#0e0e10;
    display: flex;
    flex-direction: row;
}

.game_tags .tag{
    border-radius: 10px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ec7d7d;
}

.game_data {
  margin-top: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.game_title {
    font-size: 1.2em;
    text-decoration: none;
}

.game_icons {
    display: inline-flex;
    align-items: center;
    gap:7px;
    margin:0px;
}

.game_text {
    font-size: .95em;
    color: #dadada;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.game_skills {
    background-color: rgba(51, 54, 76, 0.466);
    margin-top: 8px;
    padding: 4px;

    color: #ffffff;
}


.year-header {
    color: #FFFF64;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    font-size: 55px;
    background-color: #49111c00;
    max-width: 100%;
}

a {
    color: #FFFF64;

}

ul {
    margin: 5px;
    padding-left: 25px;
}

li {
    margin-bottom: 3px;
}

.project_container {
    background-color: rgba(25, 26, 35, 1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    border-radius: 10px;
}

p {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 0px;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h2 {
    color:#FFFF64;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}

h3 {
    text-align: left;
    color:#FFFF64;
    margin-bottom: 10px;
    margin-top: auto;
}

.project_body {
    padding: 15px;
    color: #ddd9d9;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project_game_title {
    color: #FFFF64;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    font-size: 55px;
    max-width: 100%;
}


figure {
    margin: 0px;
}

figcaption {
    font-weight: 200;
    font-size: 0.5em;
    margin: 10px;
    margin-top: 0px;
}

.lr_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns both the video and the text block to the top */
    gap: 10px; /* Adjust space between the image and text section */
}



.ud_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.project_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.lr_container img{
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image covers the div */
  margin: 0px;
  padding: 0px;
}

.project_block video {
    max-width: 100%;
    margin: 0px;
}

.lr_container video {
    width: 100%; /* Ensures all videos take up the same width */
    height: auto; /* Adjusts the height to maintain the aspect ratio */
    object-fit: contain; /* Ensures videos fit within their container without distortion */
    margin: 0px;
    padding: 0px;
}

.project_video_small {
    max-width: 400px;
}

.project_block {
    border-radius: 10px;
    font-size: 0.7em;
    font-weight: 300;
    background-color: #252736;
    color: #ffffff;
    max-width: 100%;
}

.project_block img, .project_block video {
    width: 100%;           /* Optional: scale image/video to fill container */
    height: auto;          /* Optional: maintain aspect ratio */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#core_loop_image {
    width:180%;
}

.project_block_text {
    padding: 15px;
}

.lr_container .project_block_text {
    max-width: 300px;
}

.lr_container #narrow_project_block_text {
    max-width: 250px;
}

.project_block_figure {
    font-size: 1em;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}
/* 
.project_block_figure:hover {
    transform: scale(1.1);
} */


.project_block li{
    padding-top: 10px;
}

#project_showcase_video {
    scale: 1.0;
}

/* Home */
#about_box {
    max-width: 500px;
    background-color: rgba(25, 26, 35, 0.9);
}


/* contact */
#contact_box {
    max-width: 500px;
    background-color: rgba(25, 26, 35, 1);
}

#contact_box a{
    color: white;
    text-decoration: none;
}



#finger_pointing_image {
    position: relative; /* or absolute, depending on your needs */
    /* rotate: 180deg;
    transform: scaleX(-1); */
    top: -8px;
    left: 50%; /* Position the left edge in the middle of the page */
    width: 120%; /* Adjust this value if you want a specific width */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}


@media (max-width: 768px) {
    .lr_container {
        flex-direction: column;
    }
    .lr_container .lr_container{
        flex-direction: row;
    }
    .lr_container .project_block_text, .lr_container #narrow_project_block_text {
        max-width: 100%;    
    }
    .game_flexbox {
        flex-direction: column;
        align-items: center;
    }

    .game_item {
        max-height: 100%;
    }
    .transparent_gradient {
        visibility: hidden;
}
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}


.img_fullsize {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.img_fullsize {
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-out;
}

#project_info {
    display: flex;
    flex-direction: row;
}

#project_info > div {
  flex: 1;
  min-width: 0;
}




/* FOOTER */



footer {
    background-color: #0e0e10;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}

#footer_links{
    display:flex;
    gap:20px;
}

#footer_links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 0.8em;
    font-weight: 300;
    color: #dadada;
    text-decoration: none;
    border-radius: 10px;
    border-width: 2px;
    border-color:#dadada;
    border-style:solid;
    gap:5px;
}

.kadence-svg-iconset {
	display: inline-flex;
	align-self: center;
}

.kadence-svg-iconset svg {
	height: 1em;
	width: 1em;
}


#footer_links a:hover {
    color: rgb(100,100,255) ;
    border-color: rgb(100,100,255) ;
    z-index: 2;
    transition: all 0.08s ease-in;
    max-height: 100vh; /* Increase max-height on hover */
}

footer p{
    font-size: 0.6em;
}

#defunct_rechtlijn_temp {
    background-color: #1a1a1f;
    position: relative; /* This is important for the overlay to position correctly */
}



#defunct_rechtlijn_temp::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the last value (0.5) for transparency */
}