html, body {
    margin: 0;  /* Remove default margin from body */
}

body {
    background-color: #0e0e10;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Helvetica Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    min-height: 2000px;
}


/* Mid column */
.background-wrapper {
    max-width: 960px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
}

header {
    justify-content: left;
    display: flex;
    padding: 7px;
    padding-top: 0px;
    margin-bottom: 14px;
    gap: 10px;
}

.navlink {
    padding: 10px;
    padding-top: 0px;
    background-color: rgba(25, 26, 35, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#kleinlijntje{
    height: 15px;
}

.intro_box {
    scale: 110%;
    display: inline-block;
    background-color: rgba(25, 26, 35, 1);
    margin: 10px;
    border-radius: 100px;
    display: flex;
    align-items: center; /* vertically align image and text */
    gap: 24px; /* space between image and text */
    margin-bottom: 0px;
    
}

.profile_picture img {
    margin: 10px;
    width: 90px; /* adjust as needed */
    height: auto;
}

.intro_text {
    font-weight: 200;
    font-size: 1.2rem; /* or whatever size you want */
}

.profile_picture img {

    max-width: 100px;
}

.game_grid {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

.game_grid_small {
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.game_item {
    background-color: rgba(25, 26, 35, 1);
    padding: 8px;
    border:4px rgba(25, 26, 35, 1) solid;
    border-radius: 10px;
    display: inline-block;
    transition: all 300ms ease-in;
    transform: scale(1);
    position: relative;
    transition: height 0.3s ease;
    overflow: hidden;
    height: 390px;
}

.game_item_small {
    height: auto;
}


.game_item:hover{
    padding: 8px;
    border:4px rgb(100,100,255) solid;
    z-index: 2;
    transition: all 35ms ease-in;
    transform: scale(1.03) rotate(-0.0deg);
    background-color: #4646c9;
    height: 100%;
}

.game_item_small:hover {
    height: auto;
}

.transparent_gradient {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent 0, rgba(25, 26, 35, 1))
}

.game_item:hover .transparent_gradient {
    visibility: hidden;
}


.game_thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.game_data {
  margin-top: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game_title {
    font-size: 1.2em;
    text-decoration: none;
}

.game_text {
    font-size: .95em;
    color: #dadada;
    font-weight: 100;
    letter-spacing: 0.3px;
}

.game_skills {
    background-color: rgba(51, 54, 76, 0.466);
    margin-top: 8px;
    padding: 4px;

    color: #ffffff;
}


.year-header {
    color: #FFFF64;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    font-size: 55px;
    background-color: #49111c00;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 24px;
    z-index: 2;
}

.overlay a {
    margin: 7px 0;
}

.flex-item:hover .overlay {
    opacity: 1;
}

.overlay-link {
    color:#FFFF64;
    font-weight: 300;
}

a {
    color: #FFFF64;

}

ul {
    margin: 5px;
    padding-left: 25px;
}

li {
    margin-bottom: 3px;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* #project-content {
     alles behalve de titel
    
} */

#project-content p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
}

#project-content h3 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px 0;
}

#project-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.project-container {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(25, 26, 35, 0.704);
    height: 100%
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    color:#FFFF64;
    margin-bottom: 10px;
}

