html, body {
    height: 100%;
    margin: 0;  /* Remove default margin from body */
    overscroll-behavior: none;
}

body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Helvetica Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
}


/* New wrapper for the background */
.background-wrapper {
    background-color: #121216;  /* Choose any color you want */
    max-width: 900px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
}

header {
    background-color: #4646c9;
    justify-content: left;
    display: flex;
    padding: 7px;
    margin-bottom: 0;
}

.navlink {
    background-color: #121216;
    padding: 10px;
    margin: 6px;
    text-decoration: none;
    font-weight: bold;
}

#kleinlijntje{
    background-color: #0a0a0a;
    height: 15px;
}

.intro-babbel {
    background-color: rgb(100, 100, 255);
    color: black;
    padding: 15px;
    max-width: 100%;
    font-size: 22px;
    text-align: justify
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.flex-item {
    background-image: url("Images/box_default.png");
    background-size: cover;
    width: 220px;
    height: 263px;
    margin: 26px; /* was 16! */
    padding: 12px 12px 24px 4px;
    font-weight: bold;
    background-repeat: no-repeat;
    text-align: center;
    text-shadow: 0px 0px 15px black;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.item-text {
    font-size: 22px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.bottom-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 8px;
    background: rgba(255, 0, 0, 0);
    user-select: none;
}

.year-header {
    color: #FFFF64;
    margin-bottom: 0;
    margin-top: 28px;
    padding: 15px;
    text-align: center;
    font-size: 72px;
    background-color: #49111c00;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 24px;
    z-index: 2;
}

.overlay a {
    margin: 7px 0;
}

.flex-item:hover .overlay {
    opacity: 1;
}

.overlay-link {
    color:#FFFF64;
    font-weight: 300;
}

a {
    color: #FFFF64;

}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* #project-content {
     alles behalve de titel
    
} */

#project-content p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
}

#project-content h3 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px 0;
}

#project-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.project-container {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(25, 26, 35, 0.704);
    height: 100%
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    color:#FFFF64;
    margin-bottom: 10px;
}

